[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeassistant = "*"
zero-motorcycles = "==3.0.0"
colorlog = "*"
ruff = "*"

[dev-packages]
pytest-homeassistant-custom-component = "==0.13.162"

[requires]
python_version = "3.12"

[scripts]
lint = "ruff check ."
format = "ruff format . --check"